.error {
    padding: 10px;
    color: crimson;
    border: 1px dotted crimson;
}

.success {
    padding: 10px;
    color: limegreen;
    border: 1px dotted limegreen;
}

.blue {
    color: blue;
    border: 1px solid blue;
}

.black {
    color: black;
    border: 1px dotted black;
}

.red {
    color: red;
    border: 1px dotted red;
}